@{
    ViewBag.Title = "Contato";
}

    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
        <hr />
        <h3>IFTM - Instituto Federal do Triângulo Mineiro</h3>
        <address>
            Licenciatura em Computação - 6º Período<br />
            Professor  César Francisco de Moura Couto<br />
        </address>
        <hr />
        <h3>@ViewBag.Message</h3>
        <address>
            <strong>Adriana Do Carmo Silva Oliveira - 032.799.996-93:</strong>&nbsp;&nbsp;<a href="adrianadieoliveira@gmail.com">adrianadieoliveira@gmail.com</a><br />
            <strong>Gilmar Brezolini Fernandes - 044.036.216-43:</strong>&nbsp;&nbsp;<a href="gbrezolini@gmail.com">gbrezolini@gmail.com</a><br />
            <strong>Sálvio de Oliveira Santos Júnior - 045.953.076-32:</strong>&nbsp;&nbsp;<a href="salvio.jr@hotmail.com">salvio.jr@hotmail.com</a>
        </address>
    </div>