@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Dental System</h1>
        <p class="lead">
            Sistema de gerenciamento de clínica odontológica desenvolvido para ambiente Web. <br /><br />O sistema conta com um alto padrão tecnológico, com o que há de mais moderno para auxiliar no
            controle de pacientes. Gerencie toda a agenda dos profissionais a distância e com o envio de lembretes e mensagens de confirmações aos pacientes. Controle financeiro, caixa, recebimentos, pagamentos e
            com geração de dashboards para um melhor controle.
        </p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p> *@
    </div>

<div class="row">


</div>